@keyframes itemOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes flamingoAnimation {
  from {
    transform: translateY(100%) rotate(-10deg);
  }

  to {
    transform: translateY(0) rotate(0);
  }
}

@keyframes flamingoMove {
  from {
    transform: rotate(0) translateY(0);
  }

  to {
    transform: rotate(-5deg) translateY(5%);
  }
}

@keyframes suitcaseAnimation {
  from {
    transform: translateY(100%) scale(0);
  }

  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes rightLeaf {
  from {
    transform: translateY(-11%) rotate(-30deg);
  }

  to {
    transform: translateY(0) rotate(0);
  }
}

@keyframes leftLeaf {
  from {
    transform: translateY(-38%) rotate(38deg);
  }

  to {
    transform: translateY(0) rotate(0);
  }
}

.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;

    .result__image {
      position: absolute;
      display: block;
      height: auto;
      animation-duration: 0.5s;
      animation-fill-mode: backwards;

      &--right-leaf,
      &--left-leaf {
        width: 40rem;
        animation-duration: 0.5s;
        animation-delay: 0.8s;
        animation-timing-function: ease-in-out;

        @media (max-width: $tablet) {
          width: 16rem;
        }

        @media (max-width: $mobile) {
          width: 11rem;
        }
      }

      &--right-leaf {
        bottom: 28%;
        left: 50%;
        animation-name: itemOpacity, rightLeaf;

        @media (max-width: $tablet) {
          left: 55%;
        }

        @media (max-width: $mobile) {
          bottom: 45%;
          left: 62%;
        }
      }

      &--left-leaf {
        bottom: 17%;
        left: 16%;
        animation-name: itemOpacity, leftLeaf;

        @media (max-width: $tablet) {
          left: 7%;
        }

        @media (max-width: $mobile) {
          bottom: 30%;
          left: 7%;
        }
      }

      &--green-leaf {
        bottom: 30%;
        left: 47%;
        width: 45rem;
        animation-name: itemOpacity, rightLeaf;
        animation-duration: 0.3s;
        animation-delay: 0.9s;

        @media (max-width: $tablet) {
          bottom: 34%;
          left: 43%;
          width: 22rem;
        }

        @media (max-width: $mobile) {
          bottom: 43%;
          left: 53%;
          width: 18rem;
        }
      }

      &--suitcase {
        bottom: 18%;
        left: 30%;
        width: 48rem;
        animation-name: suitcaseAnimation;
        animation-delay: 0.5s;
        animation-timing-function: cubic-bezier(0, 0, 0.6, 1.4);

        @media (max-width: $tablet) {
          left: 11%;
          width: 30rem;
        }

        @media (max-width: $mobile) {
          bottom: 22%;
          left: 7%;
          width: 30rem;
        }
      }

      &--flamingo {
        bottom: 18%;
        left: 26%;
        width: 37rem;
        animation-name: itemOpacity, flamingoAnimation, flamingoMove;
        animation-duration: 0.5s, 0.5s, 1.5s;
        animation-iteration-count: 1, 1, infinite;
        animation-direction: normal, normal, alternate;
        animation-delay: 0.5s, 0.5s, 1.5s;
        animation-fill-mode: backwards, backwards, forwards;
        animation-timing-function: ease-out, ease-out,
          cubic-bezier(0.54, 0, 0.47, 1);

        @media (max-width: $tablet) {
          left: 8%;
          width: 23rem;
        }

        @media (max-width: $mobile) {
          bottom: 23%;
          left: 5%;
          width: 21rem;
        }
      }
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}
